<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="/">Inicio</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
 <div class="navbar-nav">
 <a class="nav-item nav-link active" href="/pintoruno">Vincent Van Gogh</a>
 <a class="nav-item nav-link" href="/pintor2">Pierre-Auguste Renoir</a>
 <a class="nav-item nav-link" href="/pintor3">Edgar Degas</a>
 <a class="nav-item nav-link" href="/pintor4">Vincent van Gogh</a>
 
 </div>
 </div>
</nav>
<main>