{{> header}}
{{> navbar}}
    <link rel="stylesheet" href="index.css">
    
    <h1 style="text-align: center;">Algunos de mis pintores favoritos</h1>
    <ul>
        <a href="/pintoruno"><p style="text-align: center;">John William Waterhouse</p></a>
    </ul>
    <ul>    <a href="/pintor2"><p style="text-align: center;">Pierre-Auguste Renoir</p></a>
    </ul>
    <ul>    <a href="/pintor3"><p style="text-align: center;">Edgar Degas</p></a>
</ul>
<ul>    <a href="/pintor4"><p style="text-align: center;">Vincent van Gogh</p></a>
</ul>
</main>
{{> footer}}
